<header class="header">
  <nav class="nav">
    <a href="" class="nav__logo link">
      <img
        src="./assets/img/logo.jpg"
        alt="Logo Pagina"
        class="nav__logo__img"
      />
      <p class="nav__logo__nombre">Senderos DH</p>
    </a>
    <div class="nav__menu">
      <li class="nav__menu__item">
        <a href="" class="nav__menu__link link">Inicio</a>
      </li>
      <li class="nav__menu__item">
        <a href="" class="nav__menu__link link">Paquetes</a>
      </li>
      <li class="nav__menu__item">
        <a href="" class="nav__menu__link link">Paquetes Personalizados</a>
      </li>
    </div>
  </nav>
</header>
<div class="carrusel">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./assets/img/dolores3.jpg"
          class="d-block w-100"
          alt="Imagen Dolores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/dolores3.jpg"
          class="d-block w-100"
          alt="Imagen Dolores"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/dolores3.jpg"
          class="d-block w-100"
          alt="Imagen Dolores"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<main class="main">
  <section>
    <h1 class="title">Dolores Hidalgo.</h1>
    <p class="text">
      Este Pueblo Mágico es Patrimonio Histórico y cuna de la Independencia;
      preserva secretos, como la Catedral, testigo silencioso que guarda entre
      sus muros el sonido de la voz del cura Miguel Hidalgo cuando dio el grito
      de independencia. Mientras caminas por este encantador e interesante
      pueblo, de museos y monumentos que narran la historia de México, déjate
      cautivar por este lugar lleno de tradiciones.
    </p>
    <p>
      En Dolores Hidalgo, cada rincón tiene una historia e innumerables leyendas; en las haciendas vecinas aún parece escucharse el murmullo conspiratorio de los insurgentes y en sus calles siempre suenan las canciones de su hijo pródigo: José Alfredo Jiménez.
    </p>

    <h2 class="title title--sub">Historia.</h2>

    <p>
      En algún momento antes de la llegada de los españoles se conocía como “Cocomán” : lugar donde se cazan las tórtolas. Los conquistadores dieron origen al pueblo que conocemos en 1710, con la construcción de la Parroquia de de Nuestra Señora de los Dolores. En 1947, el Presidente Miguel Alemán lo denomina Dolores Hidalgo, Cuna de la Independencia Nacional.

    </p>
      Ubicado a 2,300 mts. de altura, posee una temperatura media de 25º C, con pocas lluvias a fines del verano. Posee un clima semiárido. En sus tierras se cultivan uvas, chile verde, alfalfa y avena forrajera. La principal actividad ganadera es la cría de ganado ovino, por parte de servicios la principal actividad es el turismo.
    <p>

    </p>
      
    <p>
      Dolores Hidalgo posee una cocina local rica, prueba los chiles de chorro o el mole de la región; obligados son los helados con sabores de queso, nopal, cerveza, aguacate, y tequila. Como recuerdo busca las hermosas artesanías locales de cerámica mayólica y alfarería; particularmente la cerámica en talavera.
    </p>

    <h3  class="title title--sub">Atractivos.</h3>
    <ul>
      <li>Casa de Abasolo</li>
      <li>Casa-Museo José Alfredo Jiménez</li>
      <li>Casa de Visitas</li>
      <li>El Llanito</li>
      <li>Hacienda del Rincón</li>
      <li>Jardín Independencia</li>
      <li>Monumento a Los Héroes de la Independencia</li>
      <li>Museo del Bicentenario</li>
      <li>Museo Casa de Hidalgo</li>
      <li>Museo de la Independencia</li>
      <li>Museo del Vino</li>
      <li>Parroquia de Nuestra Señora de los Dolores</li>
      <li>Plaza Principal</li>
      <li>Ruta del Vino</li>
      <li>Santuario de Atotonilco</li>
      <li>Tranvía turístico</li>
      <li>Viñedo y Bodega Cuna de Tierra</li>
    </ul>

  </section>
</main>
<footer class="footer">
  Todos los derechos Reservados UTNG 2024
</footer>
